In [ ]:
# default_exp pandas

# Pandas

> Utilities for pandas

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
# export
import pandas as pd
import pandas_flavor
import typing as T

In [ ]:
import numpy as np
from dessiccate.plotting import set_plt_defaults
set_plt_defaults()

## `DataFrame` methods

In [ ]:
# export
@pandas_flavor.register_dataframe_method
@pandas_flavor.register_series_method
def ends(self, n:int=3)-> pd.DataFrame:
    return pd.concat([self.head(n), self.tail(n)], axis=0).drop_duplicates()

In [ ]:
df = pd.DataFrame(np.random.rand(20, 5))

In [ ]:
df.head()

          0         1         2         3         4
0  0.695617  0.310956  0.467397  0.032733  0.431219
1  0.234234  0.096758  0.203272  0.025987  0.084303
2  0.691732  0.720503  0.231560  0.190280  0.807153
3  0.660266  0.722996  0.397001  0.628743  0.288541
4  0.805965  0.253449  0.475697  0.341396  0.407692

In [ ]:
df.tail()

           0         1         2         3         4
15  0.251104  0.058905  0.956383  0.227953  0.693105
16  0.233437  0.727767  0.467084  0.542836  0.361687
17  0.269754  0.797910  0.427357  0.146113  0.459163
18  0.387377  0.096168  0.611552  0.439245  0.380791
19  0.968214  0.092656  0.574544  0.463844  0.511374

In [ ]:
df.ends()

           0         1         2         3         4
0   0.695617  0.310956  0.467397  0.032733  0.431219
1   0.234234  0.096758  0.203272  0.025987  0.084303
2   0.691732  0.720503  0.231560  0.190280  0.807153
17  0.269754  0.797910  0.427357  0.146113  0.459163
18  0.387377  0.096168  0.611552  0.439245  0.380791
19  0.968214  0.092656  0.574544  0.463844  0.511374

In [ ]:
# export
@pandas_flavor.register_dataframe_method
def group_by_summary(self, by:T.Union[T.AnyStr, T.List], filter_cols:T.Union[None, T.List[str]]=None)-> pd.DataFrame:
    if not filter_cols:
        filter_cols = self.columns[~self.columns.isin([by] if isinstance(by, (list, str)) else by)]
    return self.groupby(by)[filter_cols].agg(['mean','median','sem','std'])

In [ ]:
df['cat_col'] = df[0] > 0.5

In [ ]:
df.group_by_summary('cat_col')

                0                                       1                      \
             mean    median       sem       std      mean    median       sem
cat_col
False    0.280222  0.251104  0.039859  0.143714  0.420667  0.362310  0.085734
True     0.733321  0.695617  0.046157  0.122120  0.397015  0.310956  0.092723

                          2                                       3            \
              std      mean    median       sem       std      mean    median
cat_col
False    0.309117  0.500901  0.467084  0.077900  0.280871  0.287153  0.227953
True     0.245321  0.538341  0.475697  0.090421  0.239231  0.442765  0.463844

                                    4
              sem       std      mean    median       sem       std
cat_col
False    0.067877  0.244736  0.424057  0.380791  0.076819  0.276974
True     0.115011  0.304291  0.489952  0.431219  0.081338  0.215200

In [ ]:
df.group_by_summary(by='cat_col', filter_cols=1)

             mean    median       sem       std
cat_col
False    0.420667  0.362310  0.085734  0.309117
True     0.397015  0.310956  0.092723  0.245321